@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  font-family: 'Montserrat';
  font-weight: 700;
}
body{
  overflow-x: hidden;
}
button, a{
  cursor: pointer;
}
.header{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.label{
  font-size: 24px;
  font-weight: 700;
}
body{
  width: 80vw;
  padding-left: 10vw;
}
.menu a{
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  margin-left: 21px;
  font-weight: 700;
  transition: color 0.3s;
}
.menu a:hover{
  color: #2e2e2e;
}
.menu{
  flex-basis: 60%;
}
.signInBtn{
  background-color: #96BB7C;
  width: 137px;
  height: 52px;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 45px;
}
.signInBtn:hover{
  background-color: #5d734e;
}
.logInBtn{
  border: 0;
  color: #96BB7C;
  background-color: white;
  transition: color 0.3s;
}
.logInBtn:hover{
  color: #5d734e;
}
.label, .menu{
  margin-top: 10px;
}
.block1{
  display: flex;
}
.block1 div{
  width: 50%;
  height: 608px;
}
.block1 p:nth-of-type(1){
  color: #96BB7C;
  margin-top: 122px;
}
.block1 p:nth-of-type(2){
  font-size: 20px;
  margin-top: 35px;
  color: #737373;

}
.block1 h1{
  color: #252B42;
  font-size: 58px;
  margin-top: 35px;
  font-weight: 700;
}
.getQuoteNow{
  width: 193px;
  height: 52px;
  background: #96BB7C;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  transition: background-color 0.3s;
}
.getQuoteNow:hover{
  background-color: #5d734e;
}
.learnMore{
  margin-left: 10px;
  width: 193px;
  height: 52px;
  background: white;
  border-radius: 5px;
  border: 1px solid #96BB7C;
  font-size: 14px;
  color: #96BB7C;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.learnMore:hover{
  color: white;
  background-color: #96BB7C;
}
.block1 div div{
  display: flex;
  height: 52px;
}
.block2 div{
  width: 328px;
  height: 296px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  background-color: white;
}
.block2{
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}
.block2 h2{
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}
.block2 p{
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-top: 20px;
}
.block3{
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}
.block3 h1{
  font-weight: 700;
  font-size: 58px;
  color: #96BB7C;
}
.block3 p{
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
}
.block3 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block4 img{
  margin-left: 217px;
}
.block4 p:nth-of-type(1){
  font-size: 20px;
  margin-top: 35px;
  color: #737373;
}
.block4{
  margin-top: 160px;
}
.block4 a{
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
  text-decoration: none;
  transition: color 0.3s;
}
.block4 a:hover{
  color: #5d734e;
}
.block5{
  width: 100vw;
  background-color: #FFF2F3;
  margin-left: -10vw;
  padding-left: 10vw;
  padding-top: 160px;
  padding-bottom: 160px;
}
.block5 h1{
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  margin-top: 10px;
}
.block5 p:nth-of-type(1){
  font-size: 14px;
  margin-top: 35px;
  color: #96BB7C;
}
.block5 p:nth-of-type(2){
  font-weight: 700;
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
}
.courses{
  display: flex;
  margin-top: 80px;
  width: 70%;
  margin-left: 10%;
}
.cours{
  width: 348px;
  height: 622px;
  background: #FFFFFF;
  padding-left: 25px;
}
.cours img{
  margin-left: -25px;
  width: 373px;
  height: 300px;
}
.cours p:nth-of-type(1){
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
}
.cours h3{
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
}
.cours p:nth-of-type(2){
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.cours p:nth-of-type(3){
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}
.cours div{
  display: flex;
}
.cours div p:nth-of-type(1){
  font-weight: 700;
  font-size: 16px;
  color: #BDBDBD;
  margin-top: 10px
}
.cours div p:nth-of-type(2){
  font-weight: 700;
  font-size: 16px;
  color: #FFAB71;
  margin-left: 5px;

}
.cours button{
  width: 141.14px;
  height: 44px;
  border: 1px solid #96BB7C;
  border-radius: 37px;
  background: none;
  color: #96BB7C;
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.cours button:hover{
  background-color: #96BB7C;
  color: white;
}
.cours:nth-of-type(2), .cours:nth-of-type(3){
  margin-left: 10px;
}
.block6{
  margin-top: 160px;
  width: 70%;
  margin-left: 10%;
}
.block6 h1{
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  margin-top: 10px;
}
.block6 p:nth-of-type(1){
  font-size: 14px;
  margin-top: 35px;
  font-weight: 600;
}
.block6 p:nth-of-type(2){
  font-weight: 700;
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
}
.reviews{
  display: flex;
}
.review{
  width: 348px;
  height: 317.01px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.stars{
  height: 18px;
  align-self: center;
}
.review p{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  position: relative;
  top: -20px;
}
.person{
  display: flex;
  align-self: center;
}
.person div{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.person img{
  width: 50px;
  height: 50px;
}
.person p{
  margin-left: 10px;
  text-align: left;
}
.person p:nth-of-type(1){
  color: #96BB7C;
  font-weight: 700;
}
.person p:nth-of-type(2){
  margin-top: -10px;
}
.team h1{
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  margin-top: 10px;
}
.team p:nth-of-type(2){
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
#greenP, .greenP{
  font-size: 14px;
  margin-top: 35px;
  color: #96BB7C;
  font-weight: 700;
}
.team{
  width: 70%;
  margin-left: 10%;
}
.team div{
  display: flex;
  justify-content: space-between;
}
.teamPerson{
  border-radius: 20px;
  width: 238px;
  height: 375px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  margin-top: 112px;
}
.teamPerson img{
  width: 100%;
  height: 231px;
  border-radius: 20px 20px 0 0;
}
.teamPerson h3{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.teamPerson p{
  font-weight: 500;
  font-size: 12px;
  color: #737373;
  text-align: center;
  margin-top: 0px;
}
.socials{
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
}
.socials img{
  width: 23px;
  height: auto;
  margin-left: 22px;

}
.subscribe{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.subscribe h1{
  margin-top: 0px;
}
.greyP{
  color: #737373;
  font-size: 14px;
  margin-top: -10px;
}
.subscribeInputDiv{
  display: flex;
  height: 58px;
  width: 900px;
  margin-top: 50px;
  margin-left: 50px;
}
.subInput{
  flex-basis: 80%;
  height: 100%;
  background: #F9F9F9;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
}
.subInput::placeholder{
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}
.submit{
  height: 110%;
  width: 117px;
  background: #96BB7C;
  border: 1px solid #E6E6E6;
  border-radius: 0 5px 5px 0;
  color: white;
  transition: all 0.3s;
}
.submit:hover{
  background: none;
  color: black;
  border-color: #96BB7C;
}
.footer{
  display: flex;
  margin-top: 100px;
  background: #FAFAFA;
  position: relative;
}
.footerText p{
  color: #737373;
  font-weight: 700;
  font-size: 14px;
}
.footer .socials{
  position: absolute;
  right: 0;
}